body {
    background: gray;
    font: normal 15pt Arial;
    
}

header {
    color: white;
    text-align: center;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.445);

}

section {
    text-align: center;
}

footer {
    color: white;
    text-align: center;
    margin-top: 10px;
    font-style: italic;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.384);
}